body{
	width: 100%;
	height: 100%;
	background:linear-gradient(90deg, black, #4682B4, #191970, black);
	background-size: 400% 400%;
	animation: gradien-animasi 10s ease infinite;
	cursor: url(1.png), auto;
	overflow: hidden;
}
@keyframes gradien-animasi{
	0%{
		background-position: 0% 50%;
	}
	100%{
		background-position: 100% 50%;
	}
}
.pembuka{
	background-image: url(4.png);
	background-position: center;
	width: 100%;
	height: 40%;
	margin-left: 0;
	text-align: center;
}
.admin{
	width: 800px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: auto;
    font-size: 18px;
    color: #fff;
    border: 10px solid transparent;
    border-image: linear-gradient(45deg, #DC143C, #33ccff);
    border-image-slice: 1;
    animation: neon-glow 1s ease-in-out infinite alternate;
    padding: 5px;
  }

  @keyframes neon-glow {
    0% {
      border-image-source: linear-gradient(45deg, #DC143C, #33ccff);
    }
    100% {
      border-image-source: linear-gradient(45deg, #33ccff, #DC143C);
    }
  }
}
p{
	text-align: justify;
}
.a{
	display: inline-block;
	float: right;
	animation: spin 10s linear infinite;
}
.b{
	animation: spin 10s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.x {
    position: absolute;
    bottom: 20%;
    left: 80%;
    width: 200px;
    height: 100px;
    background-image: url('x.png');
    background-size: cover;
    animation: ufoSpiral 10s linear infinite;
  }

  @keyframes ufoSpiral {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translateX(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(1000deg) translateX(200px);
    }
  }